<nav class="navbar navbar-expand-lg ">

  <div class="collapse navbar-collapse col-6" id="navbarSupportedContent">
    <ul class="navbar-nav list">
      <li class="nav-item active ">
        <a class="nav-link" routerLink="/product">Product</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/order">Order</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " routerLink="/cart">Cart</a>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <h3 class="navbar-brand " href="#">My Story</h3>
  </div>


</nav>
