.form{
  margin: 30px;

}

.heder{
 color:red;
 padding: 20px 50% 20px 45%;


}
.form-control{
  margin: 4px;
  width: 70%;
  height: 50px;


}
.form-group{
  font-family: Brush Fonts;
  padding: 0px 0px 0px 300px;



}
